*
{
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    margin: 0;
    /* min-height: 100vh; */
    font-family: 'Kernel Panic NBP','AndaleMono', sans-serif;
    color:#49F300;
  }



.header{
    display: flex;
    height: 9vh;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

.titre{
    color: #49F300;
    font-family: 'HACKED', sans-serif;
    font-size: 72px;
    position: relative;
    top: 10%;
    left: 1%;
}

.header-droite{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
}

.divOblique{
    height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
    border-bottom: solid 2px;
    justify-content: space-between;
}

.obliqueDiv{
    content: " ";
    background-color: #49F300;
    height: 119%;
    width: 0.4%;
    left: -3%;
    position: relative;
    transform: rotateZ(330deg);
}

.Obliques{
    height: 100%;
    width: 100%;
    display: flex;
}

.oblique{
    content: " ";
    background-color: #49F300;
    height: 100%;
    width: 3px;
    transform: rotateZ(330deg);
    margin-right: 3%;
}

.dedi{
    color: #49F300;
    display: flex;
    align-items: center;
    border: 1px solid;
    padding: 2.4% 2% 2.2%;
    width: 20%;
    height: 50%;
    justify-content: center;
    margin-right: 3%;
}
h3
{
    font-size: 1.8em;
    color: black;
    position: relative;
    top: 20%;
    left: 10%;
}
.trait {
    width: 100%;
    height: 0.8%;
    background: #49F300;
    margin-bottom: 8%;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.forme
{
    height: 6%;
    background: #49F300;
    content: " ";
    clip-path: polygon(42% 0, 53% 102%, 102% 102%, 0 102%, 0 0);
}

.log
{
    width: 33%;
    height: 50%;
    height: 100%;
}

div.Page{
    display: flex;
    height: 91vh;
    padding-top: 5%;
    border: 2px solid #49F300;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
}

div.forms{

    display: flex;
    justify-content: space-around;
    height: 70%;
}

input{
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
    font-family: 'Kernel Panic NBP', sans-serif;
    background:#090909;
    border: 2px solid #49F300;
    color: #49F300;
}

input.inpt{
    width: 20vw;
    height: 5vh;
    margin: 6% 0% 0% 0%;
    font-size: 150%;
}
input.inpt:focus{
    outline:none;
}

input.inpt::placeholder{
    color: #49F300;
    opacity: 0.30;
}

.para{
    color: #525252;
    opacity: 0.8;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    font-size: 135%;
    text-transform: uppercase;
}
