body 
{
    background: black;
    margin: 0;
    font-family: 'Kernel Panic NBP','AndaleMono', sans-serif;
    color:#49F300;
    border: 1px #49F300;
    height: 100vh;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y:hidden;
    overflow-x:hidden;
}

.div{
    cursor: pointer;
    font-size: 18px;
    color: #49f300;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: 1px solid #49f300;
}

.categorie{
    background-color: black;
    color: #49F300;
    display: flex;
    flex-wrap: wrap;
}

.header{
    top: 0px;
}

.buttonsHeader
{
    position: absolute;
    top: 25px;
}

.account{
    right: 680px;
}

.notif
{
    right: 630px;
}

.buttons
{
    position: absolute;
    right: 0px;
    top: 0.8%;
}

.btn
{
    width: 140px;
    font-size: 18px;
    color: #49f300;
    font-family: 'Kernel Panic NBP','AndaleMono', sans-serif;
    text-transform: uppercase;
    margin: 0.5em;
    padding: 0.5em 2em;
}

.content
{
    /* border: 2px #49f300 solid; */
    height: 89vh;
    padding-top: 5px;
}

.imgs
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img
{
    margin: 5px;
}   

.inputSearch{
    height: 100%;
    width: 10%;
    padding-left: 10px;
    border-radius: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.TopBody{
    height: 5%;
}

.categorieText{
    font-size: 2em;
    display: inline;
    margin-left: 2%;
}

.frm{
    margin-left: 1%;
    height: 100%;
    display: flex;
    flex-direction: unset;
    align-items: unset;
}
.searchButton{
    height: 100%;
    width: 9%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #49F300;
}

.loop{

    margin-top:40px;
}
