body {
    background: black;
    margin: 0;
    font-family: 'Kernel Panic NBP','AndaleMono', sans-serif;
    color:#49F300;
    height: 99vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow-y:hidden;
    overflow-x:hidden;
  }